@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;

	background: #000428;
	background: -webkit-linear-gradient(to top, #004e92, #000428);
	background: linear-gradient(to top, #004e92, #000428);
}

body {
	height: 100dvh;
	min-width: 360px;
}

body .dots {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: hidden;

	z-index: -1;
}

body .dots span {
	position: relative;
	width: calc(180px / var(--i));
	height: calc(180px / var(--i));
	background-color: #5386e4;
	animation: animate 18s linear infinite;
	animation-duration: calc(270s / var(--i));
	border-radius: 50%;

	box-shadow: inset 0 0 50px #5386e4, inset 20px 0 60px #6c9fff,
		inset -20px 0 60px #2e69d8, inset 20px 0 300px #6c9fff,
		inset -20px 0 300px #2e69d8, 0 0 50px #5386e4, -10px 0 60px #6c9fff,
		10px 0 60px #2e69d8;
}

@keyframes animate {
	0% {
		transform: translateY(100vh) scale(0.189);
	}

	50% {
		transform: scale(0.63);
	}

	100% {
		transform: translateY(-50vh) scale(0.189);
	}
}

.root {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* WELCOME PAGE */

welcome-page,
interests-page,
channels-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: clamp(320px, 90%, 660px);
	height: calc(100% - 108px);
}

.welcome__logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(./assets/murten-logo.png);
	background-size: 243px;
	background-position: center;
	background-repeat: no-repeat;

	height: 163px;
	width: 70vmin;
}

@media screen and (max-height: 600px) {
	.welcome__logo-container {
		display: none;
	}
}

.welcome__form-container,
.interests__form-container,
.channels__form-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	height: 100%;
	width: 100%;
}

.interests__title,
.channels__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 63px;
}

.interests__title h2,
.channels__title h2 {
	color: white;
	font-size: 30.6px;
	text-align: center;
}

#interests__subtitle {
	color: rgba(255, 255, 255, 0.72);
	font-size: 15px;
	text-align: center;
}
